
body{
    font-family: Poppins ;
    margin: 0;                /* Remove default margin */
  padding: 0;               /* Remove default padding */
  height: 100%;             /* Ensure full height of the page */
  width: 100%;              /* Ensure full width of the page */
  overflow-x: hidden;   
}