.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your actual image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px; /* Adjust height as needed */
    margin-left: 40px; /* Left margin */
    margin-right: 40px; /* Right margin */
    top:20px;
  }
  
  .hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Dark overlay with slight transparency */
    z-index: 0; /* Put the dark overlay behind the text */
  }
  
  .hero-text {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1; /* Ensure text appears above the overlay */
  }
  
  .hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .shop-now-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #a06553;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .shop-now-btn:hover {
    background-color: #794838;
  }
  @media  (max-width: 768px) {
    
    .hero-container{
      margin-left: 20px;
      margin-right: 20px;
    }
    .shop-now-btn{
      padding: 7px 16px;
      font-size: 16px;
    }
    
    
  }