@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    font-family: Poppins;
}
.pages{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;

}
.navigation-features{
  display: flex;
  flex-direction: row;
  gap:30px;
  align-items: center;
}
.logo{
    width: 150px;
}
.features{
    width: 20px;
}
.features-menu{
    width: 20px;
}
.page{
    color: black;
    text-decoration: none;
}

  
.search-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-cross{
    width:15px;
}
.search-bar{
    width:400px;
    padding: 10px;
    border-radius:20px ;
    border:1px solid rgba(0, 0, 0, 0.421);
    margin-right:10px;
    
}
@media screen and (max-width: 768px) {
   .pages{
    display: none;
   }
}
@media screen and (min-width: 768px) {
    .features-menu{
        display: none;
        
    }
  }
  