.cart-container{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin:40px;
    padding-left: 40px;
    padding-right: 40px;
}
.cart-heading{
    display: flex;
    font-size: 20px ;
    font-weight: 500;
    align-items: center;
    margin-bottom: 40px;
    
}
.cart-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.total-elements{
    display: flex;
    justify-content: space-between;
    width: 50%;

}
.cart-total{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.checkout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-top:20px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:768px){
    .cart-container{
        display: flex;
        flex-direction: column;
        min-height: 400px;
        margin-left:10px;
        margin-right:10px;
        margin-top:30px;
        margin-bottom:30px;
    }
    .total-elements{
        font-size: 14px;
        width: 100%;
    }
    .cart-heading{
        font-size: medium;
        margin-bottom:15px ;
    }
    .checkout-btn{
        font-size: small;
    }
    .cart-total{
        align-items: center;
        justify-content: space-between;
    }
}